<figure>
	{{#link-to 'index'}}<img src="@@imagesURL/logo.png" />{{/link-to}}
	<figcaption>Elite Dodgeball</figcaption>
</figure>

{{#if (or-check (is-empty brackets) (equal pageState.routeName 'index') (equal pageState.routeName 'brackets.fresh'))}}
	<h2>Rivaltree</h2>
{{else}}
	{{#drop-down items=brackets isFiltered=true currentID=pageState.params.id stringFunction=bracketString keyID="id" filterKeys=filterKeys as |bracket|}}
		{{#if (equal bracket.id pageState.params.id)}}
			{{#link-to 'brackets.view' bracket.id tagName="li" class="current"}}
				{{bracket.title}}
			{{/link-to}}
		{{else}}
			{{#link-to 'brackets.view' bracket.id tagName="li"}}
				{{bracket.title}}
			{{/link-to}}
		{{/if}}
	{{/drop-down}}
{{/if}}

{{#if (is-not-empty userInfo.user)}}
	{{#drop-down items=menuOptions isFiltered=false currentID=pageState.params.id defaultItem=userInfo.user.username class="settings-dropdown" as |option|}}
		{{#link-to (get option 0) tagName="li"}}
			{{get option 1}}
		{{/link-to}}
	{{/drop-down}}
{{/if}}

{{yield}}
