<ol class="numbered">
	{{#each value as |item index|}}
	<li data-item={{item}} data-index={{index}}>{{item}} {{fa-icon "times"}}</li>
	{{/each}}
</ol>

{{input type="text" value=inputValue placeholder=placeholder disabled=isSubmitting escape-press="escInput" enter="enterInput"}}
{{#if isSubmitting}}{{fa-icon "spinner"}}{{/if}}

{{yield}}
