{{input type="checkbox" checked=value disabled=isSubmitting change=(action "changeEvent") class="fancy"}}
<label for={{inputElement.id}}>{{label}}</label>
{{#if isSubmitting}}{{fa-icon "spinner"}}{{/if}}

{{yield}}
